/*
========
VARIABLES
========
*/

:root {
  --color-prmary: #d73953;
  --color-balck: #090909;
  --color-white: #ffffff;
  --color-light-grey: #f3f3f3;
  --color-dark-grey: #353535;
  --text-color: var(--color-balck);
}

/*
========
GENERAL
========
*/

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-balck);
}

a {
  color: #161616;
}

.visually-hidden {
  display: none;
}

.card-category {
  color: var(--color-prmary);
}

.section-tagline {
  color: var(--color-prmary);
}
